.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.marginTop {
  margin-top: 1px;
}


.headerMargin {
  margin-top: 70px;
  min-height: 100%;
}

.headerBrand {
    padding-top: 10px;
}

.centre {
  text-align: center;
}

#whiteBackground {
  background: #fbf6f6;
  margin-left: -13px;
margin-top: -7px;
}

#ccColor {
  background: #cccccc;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
